<head>
    <meta charset="utf-8">
    <meta name="author" content="VMK">
    <meta name="description" content="A fan-made recreation of Disney's Virtual Magic Kingdom">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>VMK - Register</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/animate.css">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><img src="images/castle-icon-white.png" /></span>
    </div>
    <!-- MainMenu-Area -->
    <nav class="mainmenu-area" data-spy="affix" data-offset-top="200">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary_menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="images/logo.png" alt="Logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="primary_menu">
                <ul class="nav navbar-nav mainmenu">
                    <li><a href="index#home_page">Home</a></li>
                    <li><a href="index#about_page">About</a></li>
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="forums/index">Community</a></li>
                    <li class="active"><a href="register">Register</a></li>
                </ul>
                <div class="right-button hidden-xs">
                    <a href="#">Sign Up</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- MainMenu-Area-End -->
    <!-- Home-Area -->
    <header class="register-area overlay" id="home_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 hidden-sm col-md-5">
                    <figure class="mobile-image wow fadeInUp" data-wow-delay="0.2s">
                        <img id="emblem-lg" name="rcharacter" src="images/emblem.png" alt="">
                    </figure>
                </div>
                <div class="col-xs-12 col-md-7">
                    <div class="space-80 hidden-xs"></div>
                    <h1 class="wow fadeInUp" data-wow-delay="0.4s">Register today to Unleash the Magic!</h1>
                    <div class="space-20"></div>
                    <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                        <!-- REGISTRATION FORM -->
                        <% include ./partials/reg_messages %>
                        <form class="login-form" action="/register" method="post">
                            <input type="email" class="control" placeholder="Enter your email" required="required" id="login-email" name="EMAIL" value="<%= typeof email != 'undefined' ? email : '' %>">
                            <input type="password" class="control" placeholder="Enter your password" required="required" id="login-password" name="PASSWORD" >
                            <input type="password" class="control" placeholder="Verify your password" required="required" id="login-password-verification" name="PASSWORD_VERIFICATION" >
                            <div class="g-recaptcha" data-sitekey="6Lcum70UAAAAAMcrSt7BuF48_CSsdQYTPz5OzgPL"></div>
                            <div class="space-20"></div>
                            <button type="submit" class="bttn-white wow fadeInUp" data-wow-delay="0.8s"><i class="lnr lnr-user"></i>Register</input></button>
                        </form>
                        <!-- END FORM -->
                    </div>
                    <div class="space-80"></div>
                </div>
            </div>
        </div>
    </header>
    <!-- Home-Area-End -->
    <!-- Footer-Area -->
    <footer class="footer-area" id="contact_page">
        <!-- Footer-Bootom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-5">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <span>VMK is in no way affiliated with The Walt Disney Company, the Disney Interactive Media Group, and/or Sulake. All rights belong to their respective owners.</span>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <div class="space-30 hidden visible-xs"></div>
                    </div>
                    <div class="col-xs-12 col-md-7">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="index#home_page">Home</a></li>
                                <li><a href="index#about_page">About</a></li>
                                <li><a href="#">Newsletter</a></li>
                                <li><a href="forums/index.php">Community</a></li>
                                <li><a href="register">Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-Bootom-End -->
    </footer>
    <!-- Footer-Area-End -->
    <!--Vendor-JS-->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/jquery-ui.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/contact-form.js"></script>
    <script src="js/ajaxchimp.js"></script>
    <script src="js/scrollUp.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="js/main.js"></script>
</body>
